:root{
    --link-color: #4298BA;
    --color-black: #121212;
    --color-dark-gray: #404041;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hide scroll bar */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

a:link,a:active,a:hover,a:visited, a:default { 
    color: var(--link-color);
    text-decoration: none;
}

/*heart icon*/
#heart_icon{
    width: 5vh;
    height: 5vh;
    margin-top: 20vh;
    margin-left: 10px;

    display: flex;
    position: fixed;
}
/*end heart icon*/

/* header */
header{
    width: 100vw;
    height: 4vh;
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header span{
    height: 4vh;
    display: flex;
    flex-direction: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header span p{
    color: aliceblue;
    font-size: 20px; 
    line-height: 4vh;
    margin-right: 120px;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

header span a{
    width: 10vw;
    height: 4vh;
    display: flex;
    flex-direction: auto;
    align-items: center;
    justify-content: center;
}

header span img{
    width: 3vh;
    height: 3vh;
}
/* end header */

/* footer */
footer{
    width: 100vw;
    height: 2vh;
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p{
    height: 2vh;
    color: aliceblue;
    align-items: center;
}
/* end footer */