
/* 
Header栏 
*/
header{
    width: 100wh;
    height: 4vh;
    background-color: dimgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header span{
    width: 20wh;
    display: flex;
    flex-direction: auto;
}

header span p{
    color: aliceblue;
    font-size: 20px; 
    margin-right: 120px;
}

header span img{
    margin-left: 10px;
    width: 3vh;
    height: 3vh;
}

/*
 Footer栏 
 */
footer{
    width: 100wh;
    height: 2vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*
Body栏
*/
body{
    width: 100wh;
    display: flex;
    flex-direction: column;
}

#Intro{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    background-color: black;
}
#Intro > h1{
    width: 100wh;
    margin: 20px 0;
}

#Intro > p{
    width: 100wh;
    margin: 20px 0;
}
