
/* header */
header{
    width: 100wh;
    height: 4vh;
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header span{
    width: 20wh;
    height: 4vh;
    display: flex;
    flex-direction: auto;
}

header span p{
    color: aliceblue;
    font-size: 20px; 
    margin-right: 120px;
}

header span a{
    margin-left: 2vh;
    height: 4vh;
    display: flex;
    flex-direction: auto;
    align-items: center;
    justify-content: center;
}

header span img{
    width: 3vh;
    height: 3vh;
}
/* end header */

/* footer */
footer{
    width: 100wh;
    height: 2vh;
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* end footer */

/* body */
body{
    width: 100wh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
}

/* intro */
#Intro{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    background-color: var(--color-black);
}
#Intro > h1{
    width: 100wh;
    margin: 20px 0;
}

#Intro > p{
    width: 100wh;
    margin: 20px 0;
}
/* end intro */

/* program */
.program{
    height: 100vh;
    width: 100wh;
    display: flex;
    color: aliceblue;
    flex-direction: row;
    justify-content: center;
}

.program div{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.program div p{
    width: 100wh;
    text-align: center;
}

.program a{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.program a img{
    object-fit: contain;
    width: 100%;
}

/* end program */
/* end body */
